ZacamoWcf/WcfConsoleClient/Connected Services/BasketServiceReference/BasketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BasketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51714/BasketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51714/BasketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51714/BasketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
      <xsd:import schemaLocation="http://localhost:51714/BasketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBasketService_AddItemToBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToBasket" />
  </wsdl:message>
  <wsdl:message name="IBasketService_AddItemToBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToBasketResponse" />
  </wsdl:message>
  <wsdl:message name="IBasketService_RemoveItemFromBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemFromBasket" />
  </wsdl:message>
  <wsdl:message name="IBasketService_RemoveItemFromBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemFromBasketResponse" />
  </wsdl:message>
  <wsdl:message name="IBasketService_Checkout_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkout" />
  </wsdl:message>
  <wsdl:message name="IBasketService_Checkout_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IBasketService">
    <wsdl:operation name="AddItemToBasket">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketService/AddItemToBasket" message="tns:IBasketService_AddItemToBasket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketService/AddItemToBasketResponse" message="tns:IBasketService_AddItemToBasket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveItemFromBasket">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketService/RemoveItemFromBasket" message="tns:IBasketService_RemoveItemFromBasket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketService/RemoveItemFromBasketResponse" message="tns:IBasketService_RemoveItemFromBasket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasketService/Checkout" message="tns:IBasketService_Checkout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasketService/CheckoutResponse" message="tns:IBasketService_Checkout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBasketService" type="tns:IBasketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItemToBasket">
      <soap:operation soapAction="http://tempuri.org/IBasketService/AddItemToBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItemFromBasket">
      <soap:operation soapAction="http://tempuri.org/IBasketService/RemoveItemFromBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <soap:operation soapAction="http://tempuri.org/IBasketService/Checkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasketService">
    <wsdl:port name="BasicHttpBinding_IBasketService" binding="tns:BasicHttpBinding_IBasketService">
      <soap:address location="http://localhost:51714/BasketService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>