ZacamoMvc/ZacamoMvc/Connected Services/AddressServiceReference/AddressService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddressService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51714/AddressService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51714/AddressService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51714/AddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddressService_AddAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAddress" />
  </wsdl:message>
  <wsdl:message name="IAddressService_AddAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_CheckAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAddress" />
  </wsdl:message>
  <wsdl:message name="IAddressService_CheckAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetAddressById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressById" />
  </wsdl:message>
  <wsdl:message name="IAddressService_GetAddressById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddressService">
    <wsdl:operation name="AddAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/AddAddress" message="tns:IAddressService_AddAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/AddAddressResponse" message="tns:IAddressService_AddAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/CheckAddress" message="tns:IAddressService_CheckAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/CheckAddressResponse" message="tns:IAddressService_CheckAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressService/GetAddressById" message="tns:IAddressService_GetAddressById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressService/GetAddressByIdResponse" message="tns:IAddressService_GetAddressById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddressService" type="tns:IAddressService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAddress">
      <soap:operation soapAction="http://tempuri.org/IAddressService/AddAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAddress">
      <soap:operation soapAction="http://tempuri.org/IAddressService/CheckAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressById">
      <soap:operation soapAction="http://tempuri.org/IAddressService/GetAddressById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressService">
    <wsdl:port name="BasicHttpBinding_IAddressService" binding="tns:BasicHttpBinding_IAddressService">
      <soap:address location="http://localhost:51714/AddressService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>