ZacamoMvc/ZacamoMvc/Connected Services/ManufacturerServiceReference/ManufacturerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51714/ManufacturerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:import schemaLocation="http://localhost:51714/ManufacturerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="GetAllManufacturers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManufacturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetAllManufacturersResult" nillable="true" type="q1:ArrayOfManufacturerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="manufacturer" nillable="true" type="q2:Manufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddManufacturerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="manufacturer" nillable="true" type="q3:Manufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateManufacturerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteManufacturerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetManufacturerByIdResult" nillable="true" type="q4:ManufacturerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>